<div class="container">
    <div class="row">
        <div class="col-12 text-end">
            <button class="btn btn-primary" (click)="onAdd()">Add</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Sr.no</th>
                        <th>Name</th>
                        <th>User Name</th>
                        <th>Email id</th>
                        <th>Phone </th>
                        <th>Website</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="table-info">
                    <tr *ngFor="let user of userArray; let srNo = index;">
                        <td>{{srNo+1}}</td>
                        <td>
                            <div *ngIf="user.isEdit">
                                <input type="text" [(ngModel)]="user.name">
                            </div>
                            <div *ngIf="!user.isEdit">{{user.name | uppercase}}</div>
                        </td>
                        <td>
                            <div *ngIf="user.isEdit">
                                <input type="text" [(ngModel)]="user.username">
                            </div>
                            <div *ngIf="!user.isEdit"> {{user.username}}</div>
                        </td>
                        <td>
                            <div *ngIf="user.isEdit">
                                <input type="text" [(ngModel)]="user.email">
                            </div>
                            <div *ngIf="!user.isEdit">{{user.email}}</div>
                        </td>
                        <td>
                            <div *ngIf="user.isEdit">
                                <input type="text" [(ngModel)]="user.phone">
                            </div>
                            <div *ngIf="!user.isEdit">{{user.phone}}</div>
                        </td>
                        <td>{{user.website}}</td>
                        <td>
                            <div *ngIf="!user.isEdit">
                                <i class="bi bi-pencil-square mx-3" (click)="onedit(user)"></i>
                                <i class="bi bi-trash-fill mx-3"></i>
                            </div>
                            <div *ngIf="user.isEdit">
                                <i class="bi bi-floppy mx-3" (click)="update(user)"></i>
                                <i class="bi bi-x-square mx-3" (click)="cancel(user)"></i>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>