<div class="container">
    <div class="row">
        <div class="col-12 text-end">
            <button class="btn btn-primary" (click)="onAdd()">Add</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th>Sr.no</th>
                        <th>Name</th>
                        <th>User Name</th>
                        <th>Email id</th>
                        <th>Phone </th>
                        <th>Website</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody class="table-info">
                    @for(user of userArray;track user; let srNo = $index){
                    <tr>
                        <td>{{srNo+1}}</td>
                        <td>
                            @if(user.isEdit){
                            <div> <input type="text" [(ngModel)]="user.name"> </div>
                            }
                            @else {
                            <div>{{user.name | uppercase}}</div>
                            }
                        </td>
                        <td>
                            @if(user.isEdit){
                            <div> <input type="text" [(ngModel)]="user.username"> </div>
                            }
                            @else {
                            <div>{{user.username}}</div>
                            }
                        </td>
                        <td>
                            @if(user.isEdit){
                            <div> <input type="text" [(ngModel)]="user.email"> </div>
                            }
                            @else {
                            <div>{{user.email}}</div>
                            }
                        </td>
                        <td>
                            @if (user.isEdit) {
                            <div><input type="text" [(ngModel)]="user.phone"></div>
                            }
                            @else {
                            <div>{{user.phone}}</div>
                            }
                        </td>
                        <td>
                            @if (user.isEdit) {
                                {{user.website}}
                            }
                            @else {
                                {{user.website}}
                            }
                        </td>
                        <td>
                            @if (!user.isEdit) {
                            <div>
                                <i class="bi bi-pencil-square mx-3" (click)="onedit(user)"></i>
                                <i class="bi bi-trash-fill mx-3"></i>
                            </div>
                            }
                            @else if (user.isEdit) {
                            <div>
                                <i class="bi bi-floppy mx-3" (click)="update(user)"></i>
                                <i class="bi bi-x-square mx-3" (click)="cancel(user)"></i>
                            </div>
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>